/*=============================================
=            #PAGE            =
=============================================*/

html {
  font-size: 16px;
  line-height: 1.5;
  overflow-y: scroll;
  min-height: 100%;
}

/*=====  End of #PAGE  ======*/
