.geolocation_user_location_form {
  .woocommerce-shipping-calculator {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 12px 25px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 790px;
    max-height: 450px;

    @media (min-width: 992px) {
      padding: 25px 50px;
    }

    .shipping-calculator-button {
      display: block;
      margin-bottom: 24px;
      font-size: 35px;
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      text-transform: uppercase;
      color: #000;
    }

    .shipping-calculator-form {
      display: flex;
      padding: 0;

      p {
        margin-bottom: 24px;
      }
    }

    .button {
      @extend .c-btn;
      @extend .c-btn--primary;
    }
  }
}
